head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/publicJs/jquery-1.11.3.min.js')
    script(src='/publicJs/jquery-ui.min.js')
    script(src='/publicJs/bootstrap.min.js')
    block extraHeader