nav.navbar.navbar-inverse(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(alt='Home', src='../images/sshot-1.png', style='width:40px;height:45px;border-radius:10px;')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a#linkConfig(href='/config') Configuración ControlFid
          ul.nav.navbar-nav.navbar-right
            li
              a(href='config/configFaltas/modificarFalta') ModificarFaltas          
            li
              a(href='config/configDispositivos') Dispositivos
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Global 
                b.caret
              ul.dropdown-menu
                li.disabled
                  a(href='#') Asignaturas
                li
                  a(href='config/configGlobal/configAsignaturas/agregarAsignatura') Agregar
                li
                  a(href='config/configGlobal/configAsignaturas/modificarAsignatura') Modificar
                li.divider
                li.disabled
                  a(href='#') Grupos
                li
                  a(href='config/configGlobal/configGrupos/agregarGrupo') Agregar
                li
                  a(href='config/configGlobal/configGrupos/modificarGrupo') Modificar
                li.divider
                li.disabled
                  a(href='#') Aulas
                li
                  a(href='config/configGlobal/configAulas/agregarAula') Agregar
                li
                  a(href='config/configGlobal/configAulas/modificarAula') Modificar
                li.divider
                li.disabled
                  a(href='#') Horario Grupo
                li
                  a(href='config/configGlobal/configHorario/agregarHorarioGrupo') Agregar
                li
                  a(href='config/configGlobal/configHorario/modificarHorarioGrupo') Modificar
                li.divider
                li.disabled
                  a(href='#') Horario Profesor
                li
                  a(href='config/configGlobal/configHorario/agregarHorarioProfesor') Agregar
                li
                  a(href='config/configGlobal/configHorario/modificarHorarioProfesor') Modificar
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Personas 
                b.caret
              ul.dropdown-menu
                li.disabled
                  a(href='#') Alumnos
                li
                  a(href='config/configPersonas/agregarAlumno') Agregar
                li
                  a(href='config/configPersonas/modificarAlumno') Modificar
                li.divider
                li.disabled
                  a(href='#') Profesores
                li
                  a(href='config/configPersonas/agregarProfesor') Agregar
                li
                  a(href='config/configPersonas/modificarProfesor') Modificar
        // /.navbar-collapse