extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  h1 Agregar Grupo
  form#agregarGrupoForm.form-group()
    .form-inline#alertNombre
      .input-group
        label#labelNombre.input-group-addon(for='nombre') NOMBRE
        input#nombre.form-control.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre del grupo')
        span#nombre1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Grupo ya existente
    br
    .form-inline
      .input-group
        label#labelTipoGrupo.input-group-addon(for='tipo') TIPO
        select#selectTipoGrupo.form-control.has-feedback(name='tipo')
          option(value='default') Elige el tipo
          option(value='Bachiller') Bachiller
          option(value='FP') FP
        span#selectTipoGrupo1.glyphicon.form-control-feedback
    br
    button#send.btn.btn-success(name='send') Agregar
    a#enlace.btn.btn-primary(href='/config') Volver
    #mensaje2.alert.alert-error.fade.in(style='display: none')
      a.close(href='#', data-dismiss='alert') ×
      strong 
      span#sp2
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')               
  script
    include ../public/js/config.js  
    include ../public/js/agregarGrupo.js
  include ./includes/footer.jade     