extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleAgregarAlumno.css')

block content
  h1#titulo= title
  form#agregarAlumnoForm.form-group()
    .form-inline
      label(for='dni') dni
      input#dni.form-control(type='text', name='dni')
      #mensaje.alert.alert-error.fade.in(style='display: none')
        a.close(href='#', data-dismiss='alert') ×
        strong Comprueba!
        span  Dni ya existente
    br
    .form-inline
      label(for='nombre') nombre
      input#nombre.form-control(type='text', name='nombre')
    br
    .form-inline  
      label(for='apellidos') apellidos
      input#apellidos.form-control(type='text', name='apellidos')
    br
    .form-inline
      label(for='correo') correo
      input#correo.form-control(type='text', name='correo')
    br
    .form-inline
      label(for='foto') foto
      input#foto.form-control(type='file', name='foto', accept='image/*')
    br
    .form-inline
      label(for='num_tarjeta') num_tarjeta
      input#num_tarjeta.form-control(type='text', name='num_tarjeta' )
    br
    button#send.btn.btn-primary(name='send') Enviar
    a#enlace.btn.btn-primary(href='/config/configPersonas') Volver
  script
    include ../public/js/agregarAlumno.js
    