extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  h1 Agregar Grupo
  form#agregarGrupoForm.form-group()
    .form-inline
      .input-group
        label.input-group-addon(for='nombre') NOMBRE
        input#nombre.form-control(type='nombre', name='nombre', placeholder='Escribe el nombre')
    br
    #mensaje.alert.alert-error.fade.in(style='display: none')
      a.close(href='#', data-dismiss='alert') ×
      strong Comprueba!
      span  Grupo ya existente
    br
    .form-inline
      .input-group
        label#labelTipoGrupo.input-group-addon(for='tipo') TIPO
        select#selectTipoGrupo.form-control(name='tipo')
          option(value='default') Elige el tipo
          option(value='Bachiller') Bachiller
          option(value='FP') FP
    br
    button#send.btn.btn-primary(name='send') Enviar
    a#enlace.btn.btn-primary(href='/config') Volver
  script
    include ../public/js/agregarGrupo.js
    