extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleAgregarAlumno.css')

block content
  h1 Agregar Asignatura
  form#agregarAsignaturasForm.form-group()
    .form-inline
      .input-group
        label.input-group-addon(for='nombre') NOMBRE
        input#nombre.form-control(type='text', name='nombre', placeholder='Escribe el nombre de la asignatura')
    br
    .form-inline
      .input-group
        label.input-group-addon(for='clave') CLAVE
        input#clave.form-control(type='text', name='clave', placeholder='Escribe la clave de la asignatura')
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span  Clave ya existente
    br
    .form-inline
      .input-group
        label.input-group-addon(for='obligatoria') OBLIGATORIA
        br
        input(type='radio', name='obligatoria', value='1')
        |  SI
        br
        input(type='radio', name='obligatoria', value='0')
        |  NO
    br
    br
    .form-inline
      .input-group
        label.input-group-addon(for='tipo') TIPO
        select.form-control(name='tipo')
          option(value='default') Elige el tipo
          option(value='Bachiller') Bachiller
          option(value='FP') FP
    br
    br
    button#send.btn.btn-primary(name='send') Enviar
    a#enlace.btn.btn-primary(href='/config/configGlobal/configAsignaturas') Volver
  script
    include ../public/js/agregarAsignatura.js
