extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content 
  h1 Agregar Profesor
  form#agregarProfesorForm.form-group()
    .form-inline#alertDni
      .input-group
        label.input-group-addon(for='dni') DNI
        input#dni.form-control.has-feedback(type='text', name='dni', placeholder='Escribe el dni del profesor')
        span#dni1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Dni ya existente
    br
    .form-inline#alertNombre
      .input-group
        label.input-group-addon(for='nombre') NOMBRE
        input#nombre.form-control.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre del profesor')
        span#nombre1.glyphicon.form-control-feedback
    br
    .form-inline#alertApellidos
      .input-group
        label.input-group-addon(for='apellidos') APELLIDOS
        input#apellidos.form-control.has-feedback(type='text', name='apellidos', placeholder='Escribe los apellidos del profesor')
        span#apellidos1.glyphicon.form-control-feedback
    br
    .form-inline#alertCorreo
      .input-group
        label.input-group-addon(for='correo') CORREO
        input#correo.form-control.has-feedback(type='text', name='correo', placeholder='Escribe el correo del profesor')
        span#correo1.glyphicon.form-control-feedback
    br
    .form-inline
      .input-group
        label.input-group-addon(for='password') PASSWORD
        input#password.form-control.has-feedback(type='password', name='password', placeholder='Escribe el password del profesor')
        input#pass.form-control(type='hidden', name='pass')
        span#password1.glyphicon.form-control-feedback
    br
    .form-inline#alertFoto
      .input-group
        label#labelFoto.input-group-addon(for='foto') FOTO
        input#foto.form-control.has-feedback(type='file', name='foto', accept='image/*')
        span#foto1.glyphicon.form-control-feedback
    br
    .form-inline#alertNum_tarj
      .input-group
        label.input-group-addon(for='num_tarjeta') NUM_TARJETA
        input#num_tarjeta.form-control.has-feedback(type='text', name='num_tarjeta' , placeholder='Escribe el nombre del profesor')
        span#num_tarjeta1.glyphicon.form-control-feedback
    br
    button#send.btn.btn-success(name='send') Agregar
    a#enlace.btn.btn-primary(href='/config') Volver
  script
    include ../public/js/agregarProfesor.js