extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  h1 Agregar Asignatura
  form#agregarAsignaturasForm.form-group
    .form-inline
      .input-group
        label.input-group-addon(for='nombre') NOMBRE
        input#nombre.form-control.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre de la asignatura')
        span#nombre1.glyphicon.form-control-feedback
    br
    .form-inline
      .input-group
        label.input-group-addon(for='clave') CLAVE
        input#clave.form-control(type='text', name='clave', placeholder='Escribe la clave de la asignatura')
        span#clave1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Clave ya existente
    br
    .form-inline
      .input-group
        label#labelObligatoria.input-group-addon(for='obligatoria') OBLIGATORIA
        br
        input.radio(type='radio', name='obligatoria', value='1')
        |  SI
        input.radio(type='radio', name='obligatoria', value='0')
        |  NO
    br
    .form-inline
      .input-group
        label#labelTipo.input-group-addon(for='tipo') TIPO
        select#selectTipo.form-control(name='tipo')
          option(value='default') Elige el tipo de asignatura
          option(value='Bachiller') BACHILLER
          option(value='FP') FP
    br
    br
    button#send.btn.btn-primary(name='send') Enviar
    a#enlace.btn.btn-primary(href='/config') Volver
  script
    include ../public/js/agregarAsignatura.js
