extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  include ./includes/menuConfig.jade  
  h1 Agregar Asignatura
  form#agregarAsignaturasForm.form-group
    .form-inline#alertNombre
      .input-group
        label#labelNombreAsignatura.input-group-addon(for='nombre') NOMBRE
        input#nombreAsignatura.form-control.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre de la asignatura')
        span#nombreAsignatura1.glyphicon.form-control-feedback
    br
    .form-inline#alertClave
      .input-group
        label#labelClaveAsignatura.input-group-addon(for='clave') CLAVE
        input#claveAsignatura.form-control(type='text', name='clave', placeholder='Escribe la clave de la asignatura')
        span#claveAsignatura1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Clave ya existente
    br
    .form-inline
      .input-group
        label#labelObligatoriaAsignatura.input-group-addon(for='obligatoria') OBLIGATORIA
        label#labelradio1Asignatura(for='radio1') SI
        input#radioAsignatura1.radio.form-control(type='radio', name='obligatoria', value='1')
        label#labelradioAsignatura(for='radio') NO  
        input#radioAsignatura.radio.form-control(type='radio', name='obligatoria', value='0')
        span#radioAsignatura11.glyphicon.form-control-feedback
    br
    .form-inline
      .input-group
        label#labelTipoAsignatura.input-group-addon(for='tipo') TIPO
        select#selectTipoAsignatura.form-control.has-feedback(name='tipo')
          option(value='default') Elige el tipo de asignatura
          option(value='Bachiller') BACHILLER
          option(value='FP') FP
        span#selectTipoAsignatura1.glyphicon.form-control-feedback
    br
    br
    button#send.btn.btn-success(name='send') Agregar
    a#enlace.btn.btn-primary(href='/config') Volver
    #mensaje2.alert.alert-error.fade.in(style='display: none')
      a.close(href='#', data-dismiss='alert') ×
      strong 
      span#sp2 
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')           
  script
    include ../public/js/config.js  
    include ../public/js/agregarAsignatura.js
  include ./includes/footer.jade 