extends layout

block content
  h1#titulo= title
  form#agregarAulaForm.form-group(action='/agregarAula', method='post')
    label(for='numero') numero
    input#numero.form-control(type='number', name='numero')
    br
    label(for='piso') piso
    input#piso.form-control(type='number', name='piso')
    br
    label(for='capacidad') capacidad
    input#capacidad.form-control(type='number', name='capacidad')
    br
    button#send.btn.btn-primary(name='send') Enviar
    a#enlace.btn.btn-primary(href='/config/configGlobal/configAulas') Volver
    