extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  include ./includes/menuConfig.jade
  h1 Agregar Alumno
  form#agregarAlumnoForm.form-group()
    .form-inline#alertDni
      .input-group
        label#labelDniAlumno.input-group-addon(for='dni') DNI
        input#dniAlumno.form-control.has-feedback(type='text', name='dni', placeholder='Escribe el dni')
        span#dniAlumno1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Dni ya existente
    br
    .form-inline#alertNombre
      .input-group
        label#labelNombreAlumno.input-group-addon(for='nombre') NOMBRE
        input#nombreAlumno.form-control.input.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre del alumno')
        span#nombreAlumno1.glyphicon.form-control-feedback
    br
    .form-inline#alertApellidos
      .input-group
        label#labelApellidosAlumno.input-group-addon(for='apellidos') APELLIDOS
        input#apellidosAlumno.form-control.has-feedback(type='text', name='apellidos', placeholder='Escribe los apellidos del alumno')
        span#apellidosAlumno1.glyphicon.form-control-feedback
    br
    .form-inline#alertCorreo
      .input-group
        label#labelCorreoAlumno.input-group-addon(for='correo') CORREO
        input#correoAlumno.form-control.has-feedback(type='text', name='correo', placeholder='Escribe el email del alumno')
        span#correoAlumno1.glyphicon.form-control-feedback
    br
    .form-inline#alertFoto
      .input-group
        label#labelFotoAlumno.input-group-addon.foto(for='foto') FOTO
        input#fotoAlumno.form-control.has-feedback(type='file', name='foto', accept='image/*')
        span#fotoAlumno1.glyphicon.form-control-feedback
    br
    .form-inline#alertNum_tarj
      .input-group
        label#labelNum_tarjAlumno.input-group-addon(for='num_tarjeta') NUMERO TARJETA
        input#num_tarjetaAlumno.form-control.has-feedback(type='text', name='num_tarjeta' , placeholder='Escribe el numero de la tarjeta')
        span#num_tarjetaAlumno1.glyphicon.form-control-feedback
    br
    button#send.btn.btn-success(name='send') Agregar
    a#enlace.btn.btn-primary(href='/config') Volver
    #mensaje2.alert.alert-error.fade.in(style='display: none')
      a.close(href='#', data-dismiss='alert') ×
      strong 
      span#sp2
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')             
  script
    include ../public/js/config.js
    include ../public/js/agregarAlumno.js
  include ./includes/footer.jade 