extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleAgregar.css')

block content
  include ./includes/menuConfig.jade 
  h1 Agregar Profesor
  form#agregarProfesorForm.form-group()
    .form-inline#alertDni
      .input-group
        label#labelDniProfesor.input-group-addon(for='dni') DNI
        input#dniProfesor.form-control.has-feedback(type='text', name='dni', placeholder='Escribe el dni del profesor')
        span#dniProfesor1.glyphicon.form-control-feedback
        #mensaje.alert.alert-error.fade.in(style='display: none')
          a.close(href='#', data-dismiss='alert') ×
          strong Comprueba!
          span#sp  Dni ya existente
    br
    .form-inline#alertNombre
      .input-group
        label#labelNombreProfesor.input-group-addon(for='nombre') NOMBRE
        input#nombreProfesor.form-control.has-feedback(type='text', name='nombre', placeholder='Escribe el nombre del profesor')
        span#nombreProfesor1.glyphicon.form-control-feedback
    br
    .form-inline#alertApellidos
      .input-group
        label#labelApellidosProfesor.input-group-addon(for='apellidos') APELLIDOS
        input#apellidosProfesor.form-control.has-feedback(type='text', name='apellidos', placeholder='Escribe los apellidos del profesor')
        span#apellidosProfesor1.glyphicon.form-control-feedback
    br
    .form-inline#alertCorreo
      .input-group
        label#labelCorreoProfesor.input-group-addon(for='correo') CORREO
        input#correoProfesor.form-control.has-feedback(type='text', name='correo', placeholder='Escribe el correo del profesor')
        span#correoProfesor1.glyphicon.form-control-feedback
    br
    .form-inline
      .input-group
        label#labelPasswordProfesor.input-group-addon(for='password') PASSWORD
        input#passwordProfesor.form-control.has-feedback(type='password', name='password', placeholder='Escribe el password del profesor')
        input#pass.form-control(type='hidden', name='pass')
        span#passwordProfesor1.glyphicon.form-control-feedback
    br
    .form-inline#alertFoto
      .input-group
        label#labelFotoProfesor.input-group-addon(for='foto') FOTO
        input#fotoProfesor.form-control.has-feedback(type='file', name='foto', accept='image/*')
        span#fotoProfesor1.glyphicon.form-control-feedback
    br
    .form-inline#alertNum_tarj
      .input-group
        label#labelNum_tarjProfesor.input-group-addon(for='num_tarjeta') NUMERO TARJETA
        input#num_tarjetaProfesor.form-control.has-feedback(type='text', name='num_tarjeta' , placeholder='Escribe el nombre del profesor')
        span#num_tarjetaProfesor1.glyphicon.form-control-feedback
    br
    button#send.btn.btn-success(name='send') Agregar
    a#enlace.btn.btn-primary(href='/config') Volver
    #mensaje2.alert.alert-error.fade.in(style='display: none')
      a.close(href='#', data-dismiss='alert') ×
      strong 
      span#sp2
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')               
  script
    include ../public/js/config.js  
    include ../public/js/agregarProfesor.js
  include ./includes/footer.jade     