<!DOCTYPE html>
<html>
<head>
	<title>DOCUMENTACION API</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h3>ALUMNOS</h3>
	<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarAlumno</td>
                    <td>dni,nombre,apellidos,correo,num_tarjeta</td>
                </tr>
                <tr>
                    <td>/modificarAlumno</td>
                    <td>id_alumno,dni,nombre,apellidos,correo,num_tarjeta,tarjeta_activada</td>
                </tr>
                <tr>
                    <td>/modificarPresenciaDelAlumno</td>
                    <td>num_tarjeta</td>
                </tr>
                <tr>
                    <td>/borrarAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorId</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorDni</td>
                    <td>dni</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorTarjeta</td>
                    <td>num_tarjeta</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorNombre</td>
                    <td>nombre</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorNombreYApellidos</td>
                    <td>nombre, apellidos</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorCorreo</td>
                    <td>correo</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoPorCorreo</td>
                    <td>correo</td>
                </tr>
                <tr>
                    <td>/buscarAulaEnLaQueTieneQueEstarPorTarjeta</td>
                    <td>num_tarjeta</td>
                </tr>
                <tr>
                    <td>/buscarAulaEnLaQueTieneQueEstarPorId</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarPresenciaAlumno</td>
                    <td>num_tarjeta</td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdAlumno</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdNombreApellidosAlumno</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarAsignaturasConvalidadasDelAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAsignaturasNoConvalidadasDelAlumno</td>
                    <td>id_alumno</td>
                </tr>
            </tbody>
        </table>

        <h3>ALUMNO GRUPOS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarAlumnoGrupo</td>
                    <td>id_grupo,id_alumno</td>
                </tr>
                <tr>
                    <td>/modificarAlumnoGrupo</td>
                    <td>id_alumno_grupos,id_alumno,id_grupo</td>
                </tr>
                <tr>
                    <td>/borrarAlumnoGrupos</td>
                    <td>id_alumno_grupos</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoGrupoPorIdAlumnoGrupo</td>
                    <td>id_alumno_grupos</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoGrupoPorIdAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoGrupoPorIdGrupo</td>
                    <td>id_grupo</td>
                </tr>
                <tr>
                    <td>/buscarAlumnoGrupoPorIdAlumnoYIdGrupo</td>
                    <td>id_alumno,id_grupo</td>
                </tr>
            </tbody>
        </table>

        <h3>ASIGNATURA</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarAsignatura</td>
                    <td>nombre,clave,obligatoria,tipo</td>
                </tr>
                <tr>
                    <td>/modificarAsignatura</td>
                    <td>id_asignatura,nombre,clave,obligatoria,tipo</td>
                </tr>
                <tr>
                    <td>/borrarAsignatura</td>
                    <td>id_asignatura</td>
                </tr>
                <tr>
                    <td>/buscarTodasLasAsignaturas</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdAsignatura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarAsignaturaPorId</td>
                    <td>id_asignatura</td>
                </tr>
                <tr>
                    <td>/buscarAsignaturaPorNombre</td>
                    <td>nombre</td>
                </tr>
                <tr>
                    <td>/buscarAsignaturaPorClave</td>
                    <td>clave</td>
                </tr>
            </tbody>
        </table>

        <h3>AULA</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarAula</td>
                    <td>numero,piso,capacidad</td>
                </tr>
                <tr>
                    <td>/modificarAula</td>
                    <td>id_aula,numero,piso,capacidad</td>
                </tr>
                <tr>
                    <td>/borrarAula</td>
                    <td>id_aula</td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdAula</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdYNumero</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarAulaPorId</td>
                    <td>id_aula</td>
                </tr>
                <tr>
                    <td>/buscarAulaPorNumero</td>
                    <td>numero</td>
                </tr>
            </tbody>
        </table>

        <h3>CONVALIDADAS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarAsignaturaConvalidada</td>
                    <td>id_asignatura,id_alumno</td>
                </tr>
                <tr>
                    <td>/modificarConvalidadas</td>
                    <td>id_convalidada,id_alumno,id_asignatura</td>
                </tr>
                <tr>
                    <td>/borrarAsignaturaConvalidada</td>
                    <td>id_convalidada</td>
                </tr>
                <tr>
                    <td>/buscarTodasLasConvalidadas</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarConvalidadasPorIdConvalidada</td>
                    <td>id_convalidada</td>
                </tr>
                <tr>
                    <td>/buscarNoConvalidadasPorIdAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarConvalidadasPorIdAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarConvalidadasPorIdAsignatura</td>
                    <td>id_asignatura</td>
                </tr>
            </tbody>
        </table>

        <h3>DISPOSITIVOS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarDispositivo</td>
                    <td>id_aula,numero_dispositivo</td>
                </tr>
                <tr>
                    <td>/modificarDispositivo</td>
                    <td>id_aula,numero_dispositivo</td>
                </tr>
                <tr>
                    <td>/borrarDispositivo</td>
                    <td>numero_dispositivo</td>
                </tr>
                <tr>
                    <td>/buscarTodosLosDispositivos</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarAulasSinDispositivos</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarDispositivoPorNumeroDispositivo</td>
                    <td>numero_dispositivo</td>
                </tr>
                <tr>
                    <td>/buscarDispositivoPorIdAula</td>
                    <td>id_aula</td>
                </tr>
            </tbody>
        </table>

        <h3>FALTAS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarFalta</td>
                    <td>fecha,id_alumno,id_horario_grupo,observaciones</td>
                </tr>
                <tr>
                    <td>/modificarFalta</td>
                    <td>id_faltas,fecha,id_alumno,id_horario_grupo,observaciones</td>
                </tr>
                <tr>
                    <td>/modificarPresencia0ATodos</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/borrarFalta</td>
                    <td>id_faltas</td>
                </tr>
                <tr>
                    <td>/borrarTablaFaltas</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarDatosDeLasFaltasDelDia</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdFalta</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarFaltasDeAlumnosNoConvalidados</td>
                    <td>dia_semana,hora</td>
                </tr>
                <tr>
                    <td>/buscarDatosFaltaAlumno</td>
                    <td>id_alumno,id_horario_grupo</td>
                </tr>
                <tr>
                    <td>/buscarFaltaPorNombreAlumno</td>
                    <td>nombre</td>
                </tr>
                <tr>
                    <td>/buscarFaltaPorId</td>
                    <td>id_faltas</td>
                </tr>
            </tbody>
        </table>

        <h3>GRUPOS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarGrupo</td>
                    <td>nombre_grupo, tipo</td>
                </tr>
                <tr>
                    <td>/modificarGrupo</td>
                    <td>id_grupo,nombre_grupo,tipo</td>
                </tr>
                <tr>
                    <td>/borrarGrupo</td>
                    <td>id_grupo</td>
                </tr>
                <tr>
                    <td>/buscarGrupoPorId</td>
                    <td>id_grupo</td>
                </tr>
                <tr>
                    <td>/buscarGrupoPorNombre</td>
                    <td>nombre_grupo</td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdGrupo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosGrupos</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarGruposQueNoPerteneceUnAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarGruposQuePerteneceUnAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAsignaturasDeUnGrupo</td>
                    <td>id_grupo</td>
                </tr>
            </tbody>
        </table>
	
		<h3>HORARIO GRUPOS</h3>
		<table id="tablaApi" class="table">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>PARAMETROS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/agregarHorarioGrupo</td>
                    <td>dia_semana,hora_inicio,hora_final,id_grupo,id_asignatura,id_aula</td>
                </tr>
                <tr>
                    <td>/modificarGrupo</td>
                    <td>id_horario_grupo,dia_semana,hora_inicio,hora_final,id_grupo,id_asignatura,id_aula</td>
                </tr>
                <tr>
                    <td>/borrarHorarioGrupo</td>
                    <td>id_horario_grupo</td>
                </tr>
                <tr>
                    <td>/buscarHorarioGrupoPorId</td>
                    <td>id_horario_grupo</td>
                </tr>
                <tr>
                    <td>/buscarHorarioGrupoPorNombreGrupo</td>
                    <td>nombre_grupo</td>
                </tr>
                <tr>
                    <td>/buscarTodosLosHorarioGrupo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarTodosLosIdHorarioGrupo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>/buscarGruposQueNoPerteneceUnAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarGruposQuePerteneceUnAlumno</td>
                    <td>id_alumno</td>
                </tr>
                <tr>
                    <td>/buscarAsignaturasDeUnGrupo</td>
                    <td>id_grupo</td>
                </tr>
            </tbody>
        </table>
</body>
</html>