extends layout

block content
  h1= title
  h3 Borrar Profesor
    form#borrarProfesorForm.form-group(action='/borrarProfesor', method='post')
      br      
      label(for='id') id_profesor
      select#id(name='id')
        for id in id_profesor
          option(value=id) #{id}
      br
      br
      button#send.btn.btn-primary(name='send') Enviar

    //- PRUEBA, PARA LA FUNCION
      label(for='id') id
      input#id.form-control(type='number', name='id')
      br
      label(for='dni') dni
      input#dni.form-control(type='text', name='dni')
      br
      label(for='nombre') nombre
      input#nombre.form-control(type='text', name='nombre')
      br
      label(for='apellidos') apellidos
      input#apellidos.form-control(type='text', name='apellidos')
      br
      label(for='correo') correo
      input#correo.form-control(type='text', name='correo')
      br
      label(for='password') password
      input#password.form-control(type='password', name='password')
      label(for='foto') foto
      input#foto.form-control(type='file', name='foto', accept='image/*')
      br
      label(for='num_tarjeta') num_tarjeta
      input#num_tarjeta.form-control(type='number', name='num_tarjeta' )
      br
      button#send.btn.btn-primary(name='send') Enviar