extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configAulas/agregarAulas') AgregarAula  
  br
  a#enlace(href='#') ModificarClase
  br  
  a#enlace(href='#') BorrarClase
  br
  a#enlace(href='/config/configGlobal') Volver