
extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configGlobal/configAulas') configAulas
  br
  a#enlace(href='configGlobal/configGrupos') configGrupos
  br
  a#enlace(href='configGlobal/configAsignaturas') configAsignaturas
  br
  a#enlace(href='configGlobal/configHorario') configHorario
  br
  a#enlace(href='configGlobal/configApariencia') configApariencia
  br
  a#enlace(href='configGlobal/configBasedeDatos') configBasedeDatos
  br
  a#enlace(href='/config') Volver