extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='#') AgregarDispositivo
  br
  a#enlace(href='#') ModificarDispositivo
  br
  a#enlace(href='#') BorrarDispositivo
  br
  a#enlace(href='/config') Volver
  script
    include ../public/publicJs/socket.io.js
    include ../public/js/configDispositivos.js
  include ./includes/footer.jade