
extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configGlobal/configClases') configClases
  br
  a#enlace(href='configGlobal/configMaterias') configMaterias
  br
  a#enlace(href='configGlobal/configHorario') configHorario
  br
  a#enlace(href='configGlobal/configApariencia') configApariencia
  br
  a#enlace(href='configGlobal/configBasedeDatos') configBasedeDatos
  br
  a#enlace(href='/config') Volver