
extends layout

block content
  h1= title
  p Welcome to #{title}
  //a(href='configPersonas/agregarPersonas') agregarPersonas
  a(href='configPersonas/agregarProfesor') agregarProfesor 
  br
  //a(href='configPersonas/modificarPersonas') modificarPersonas
  a(href='configPersonas/modificarProfesor') modificarProfesor
  br
  //a(href='configPersonas/borrarPersonas') borrarPersonas
  a(href='configPersonas/borrarProfesor') borrarProfesor
  br
  a(href='/config') Volver