extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configClases/agregarClases') AgregarClases  
  br
  a#enlace(href='#') ModificarClases
  br  
  a#enlace(href='#') BorrarClases
  br
  a#enlace(href='/config/configGlobal') Volver