extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='#') AgregarMaterias
  br
  a(href='#') ModificarMaterias
  br  
  a(href='#') BorrarMaterias
  br
  a(href='/config/configGlobal') Volver