extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configAulas/agregarAula') AgregarAula
  br
  a#enlace(href='configAulas/modificarAula') ModificarAula
  br 
  a#enlace(href='/config') Volver