extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='#') AgregarMaterias
  br
  a#enlace(href='#') ModificarMaterias
  br  
  a#enlace(href='#') BorrarMaterias
  br
  a#enlace(href='/config/configGlobal') Volver