extends layout

block content
  h1#titulo= title
  a#enlace(href='/config/configPersonas') configPersonas
  br
  a#enlace(href='/config/configDispositivos') configDispositivos
  br
  a#enlace(href='/config/configGlobal') configGlobal
  br
  a#enlace(href='/') Volver