extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/styleConfig.css')

block content
  include ./includes/menuConfig.jade
  h1#titulo= title
  #mensaje.alert.alert-error.fade.in(style='display: none')
   a.close(href='#', data-dismiss='alert') ×
   strong Comprueba!
   span  No hay clase a esta hora   
  for au in aula
    div.divAula(id='#{au.id_aula}') #{au.numero} 
  script
   include ../public/js/config.js

