
extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='configGlobal/configClases') configClases
  br
  a(href='configGlobal/configMaterias') configMaterias
  br
  a(href='configGlobal/configHorario') configHorario
  br
  a(href='configGlobal/configApariencia') configApariencia
  br
  a(href='configGlobal/configBasedeDatos') configBasedeDatos
  br
  a(href='/config') Volver