extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='#') AgregarClases  
  br
  a(href='#') ModificarClases
  br  
  a(href='#') BorrarClases
  br
  a(href='/config/configGlobal') Volver