extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='#') AgregarDispositivo
  br
  a(href='#') ModificarDispositivo
  br
  a(href='#') BorrarDispositivo
  br
  a(href='config') Volver