extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/styleConfig.css')
  link(rel='stylesheet', href='/stylesheets/styleDispositivos.css')

block content
  include ./includes/menuConfig.jade
  table#tablaDispositivos
    - for (var i = 0; i < dispositivos.length; ++i) {
        tr.filaDispositivos
          td(id=dispositivos[i],class='celdaDispositivo')
           img(src='../images/rfid.jpg',id='imagenDispositivo')
           p= dispositivos[i]
           p= conexiones[i]
    - }
  script
    include ../public/publicJs/socket.io.js
    include ../public/js/configDispositivos.js
  include ./includes/footer.jade