
extends layout

block content
  h1#titulo= title
  p Welcome to #{title}
  a#enlace(href='configPersonas/agregarPersonas') agregarPersonas
  br
  a#enlace(href='configPersonas/agregarProfesor') agregarProfesor 
  br
  a#enlace(href='configPersonas/modificarPersonas') modificarPersonas
  br
  a#enlace(href='configPersonas/modificarProfesor') modificarProfesor
  br
  a#enlace(href='configPersonas/borrarPersonas') borrarPersonas
  br
  a#enlace(href='configPersonas/borrarProfesor') borrarProfesor
  br
  a#enlace(href='/config') Volver