
extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='configPersonas/agregarPersonas') agregarPersonas
  br
  a(href='configPersonas/modificarPersonas') modificarPersonas
  br
  a(href='configPersonas/borrarPersonas') borrarPersonas
  br
  a(href='/config') Volver