extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/config/configPersonas') configPersonas
  br
  a(href='/config/configDispositivos') configDispositivos
  br
  a(href='/config/configGlobal') configGlobal
  br
  a(href='/') Volver