
extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='configClases') configClases
  br
  a(href='configMaterias') configMaterias
  br
  a(href='configHorario') configHorario
  br
  a(href='configApariencia') configApariencia
  br
  a(href='configBasedeDatos') configBasedeDatos
  br
  a(href='config') Volver