extends layout
block extraHeader
  link(rel='stylesheet', href='/stylesheets/styleConfig.css')

block content
  include ./includes/menuConfig.jade
  #mensaje.alert.alert-error.fade.in(style='display: none')
   a.close(href='#', data-dismiss='alert') ×
   strong Comprueba!
   span  No hay clase a esta hora  
  table
   thead
   tbody
   for au in aula
    tr.filaAula
     td
      div.divAula(id='#{au.id_aula}') #{au.numero} 
  a(href='/')
    button#exit.btn.btn-primary Exit
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')
  script
   include ../public/js/config.js
  include ./includes/footer.jade

