extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='configPersonas') configPersonas
  br
  a(href='configClases') configClases
  br
  a(href='configDispositivos') configDispositivos
  br
  a(href='configGlobal') configGlobal
  br
  a(href='/') Volver