extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleIndex.css')
block content
  h1#titulo= title
  #loginFormContainer.container
    h3 Login
    form#loginForm.form-group(action='/login', method='post')
     input#user.form-control(type='text', name='user')
     br
     input#pass.form-control(type='text', name='pass')
     br
     if info
      .alert.alert-danger
       | #{info}
     button#send.btn.btn-primary(name='send') Enviar
  script
    include ../public/js/index.js
  include ./includes/footer.jade
