extends layout

block content
  h1= title
  h3 Login
  form#loginForm.form-group(action='/login', method='post')
   input#user.form-control(type='text', name='user')
   br
   input#pass.form-control(type='text', name='pass')
   br
   button#send.btn.btn-primary(name='send') Enviar
