extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleModificar.css')

block content
  h1 Modificar Aula
  .container
    form#form.form-group
      .form-inline
        .input-group
          label.input-group-addon(for='numero') Numero: 
          input#numero.form-control(type='text', name='numero', placeholder='Escribe el numero')
        br
        br
        input.btn.btn-primary(type='submit', value='Buscar')
        a#enlace.btn.btn-primary(href='/config/configGlobal/configAulas') Volver
    #resultado.container
  script
    include ../public/js/modificarAula.js