extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleModificar.css')

block content
  include ./includes/menuConfig.jade
  h1 Modificar alumno
  .container
    form#form.form-group
      .form-inline
        .input-group
          label#labelNombreBusquedaAlumno.input-group-addon(for='nombre') NOMBRE: 
          input#nombrebusquedaAlumno.form-control(type='text', name='nombre', placeholder='Escribe el nombre del alumno')
        br
        br
        input.btn.btn-primary(type='submit', value='Buscar')
        a#enlace.btn.btn-primary(href='/config') Volver
    #resultado.container
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')      
  script
    include ../public/js/config.js  
    include ../public/js/modificarAlumno.js
  include ./includes/footer.jade     