extends layout
block extraHeader

block content
  h1= title
  h3 Modificar HorarioGrupo por el nombre del grupo
    .container
      form#form.form-group
        label(for='nombre') Nombre: 
        input#nombre.form-control(type='text', name='nombre')
        br
        input.btn.btn-primary(type='submit', value='Buscar')
        a#enlace.btn.btn-primary(href='/config/configGlobal/configHorario') Volver
    #resultado.container
  script
    include ../public/js/modificarHorarioProfesor.js