extends layout
block extraHeader
    link(rel='stylesheet', href='/stylesheets/styleConfig.css')
    link(rel='stylesheet', href='/stylesheets/styleModificar.css')

block content
  h1 Modificar Profesor
  .container
    form#form.form-group
      .form-inline
        .input-group
          label.input-group-addon(for='nombre') Nombre: 
          input#nombrebusqueda.form-control(type='text', name='nombre', placeholder='Escribe el nombre del profesor')
        br
        br
        input.btn.btn-primary(type='submit', value='Buscar')
        a#enlace.btn.btn-primary(href='/config') Volver
    #resultado.container
  div#buscador(title='Buscador')
  div#divCorreo(title='Formulario contacto')        
  script
    include ../public/js/config.js  
    include ../public/js/modificarProfesor.js
  include ./includes/footer.jade     