extends layout

block content
  h1= title
  h3 Modificar Profesor
    .container
      form#form.form-group
        label(for='nombre') Nombre: 
        input#nombre.form-control(type='text', name='nombre')
        br
        input.btn.btn-primary(type='submit', value='Buscar')
    #resultado.container