html
  head
    title ControlFid
    meta(charset='UTF-8')
    meta(charset='UTF-8')
    meta(name='description', content='Control de acceso y de asistencia para cualquier negocio o enplazamiento público')
    meta(name='keywords', content='control,acceso,control acceso,asistencia,control asistencia,faltas,instituto')
    meta(name='author', content='Zubiri DW32')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon/favicon.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='/images/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    // CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css.map')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-theme.min.css.map')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/webStyle.css')
  body
    section#home.seccionMenu
      // *************Menu*****************
      nav.navbar.navbar-inverse(role='navigation')
        .container
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(alt='Home', src='/images/sshot-1.png', style='width:40px;height:45px;border-radius:10px;')
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a#linkHome(href='#home') ControlFid
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#queEs') Qué es
              li
                a(href='#comoFunciona') Cómo funciona
              li
                a(href='#demo') Demo
              li
                a(href='#sobreNosotros') Sobre nosotros
              li
                a(href='#contacto') Contacto
          // /.navbar-collapse
      // *************FIN Menu*****************
    // *************Carousel*****************
    section#carousel
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img.imagenSlider(src='/images/gradient4.jpg', alt='...')
            .carousel-caption
              p
                | Utiliza un dispositivo electronico que sirve para recoger la presencia de las personas para llevar un control automatico de las mismas. Mediante la aplicacion web podras manejar la informacion recibida
              a#btncomoFunciona.btn.btn-primary(href='#comoFunciona') Cómo funciona
              
          .item
            img.imagenSlider(src='/images/fondoVistaProfesor.png', alt='...')
            .carousel-caption
              a#btndemo.btn.btn-primary(href='#demo') Probar demo
              p
                | Prueba la demo para ver lo que ofrece nuestra aplicacion!
          .item
            img.imagenSlider(src='/images/gradient10.jpg', alt='...')
            .carousel-caption
              img#fotoInfo.img-responsive(src='/images/info.png')
              a#btncontacto.btn.btn-primary(href='#contacto') Contacta con nosotros
              p
                | No dudes en contactar con nosotros para recibir informacion personalizada sobre el producto
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
    // *************FIN Carousel*************
    section#espacio
    // *************Seccion que es *************
    section#queEs.seccionTexto
      div
        #headerQueEs.page-header
          h1 Qué es
        .row
          .col-sm-4
            img#fotoSeccion.img-responsive(src='/images/rfid.jpg')
          .col-sm-8
            div
              p
                | Es un producto para controlar el acceso-asistencia de los diferentes usuarios a unas instalaciones.
    // *************FIN Seccion que es *************
    section#espacio
    // *************Seccion como funciona *************
    section#comoFunciona.seccionTexto.pg-item
      div
        #headerComoFunciona.page-header
          h1 Cómo funciona
        .row
          .col-sm-4
            img#fotoSeccion.img-responsive(src='/images/arduino.jpg')
          .col-sm-8
            div
              p
                | Consta de un dispositivo electronico que funciona en conjunto con una aplicacion web. Mediante el aparato electronico se recoge la presencia de la persona para despues utilizar dicha informacion en la aplicacion web.
          a.btn.btn-github(href='https://github.com/controlacceso', target='_blank')
            i.fa.fa-github.fa-2x
    // *************FIN Seccion como funciona *************
    section#espacio
    // *************DEMO*********************
    section#demo.seccionTexto
      div
        #headerDemo.page-header
          h1 Demo
        form#formContactDemo.form-group
          #okDemo.alert.alert-success.fade.in(style='display:none')
            strong OK
            |  Revisa tu correo
          #noOkDemo.alert.alert-danger.fade.in(style='display:none')
            strong Error
            |  El correo no ha sido enviado
          label(for='correoDemo') Correo electrónico:  
          input#remitenteDemo.form-control(type='text', name='remitenteDemo')
          br
          input#submitContactDemo.btn.btn-primary(type='submit', value='Enviar')
        button#irADemo.btn.btn-primary Acceder a la demo
        p
          | Enviamos tu correo para que podamos facilitarte un usuario y contraseña para probar la demo
    section#espacio
    // *************FIN demo*****************
    section#espacio
    // *************Sobre nosotros***********
    section#sobreNosotros.seccionTexto
      div
        #headerSobreNosotros.page-header
          h1 Sobre nosotros
        p#pQuienes
          | Somos tres desarrolladores web 
        .row
          .col-sm-4
            img#fotoQuienesSomos.img-responsive(src='/images/dniInaki.jpg')
            p#nombre
              | Iñaki Balenciaga
          .col-sm-4
            img#fotoQuienesSomos.img-responsive(src='/images/39bf9d7.jpg')
            p#nombre
              | Iker Oñatibia 
          .col-sm-4
            img#fotoQuienesSomos.img-responsive(src='/images/AAEAAQAAAAAAAAQPAAAAJDRiY2RlYmNmLWQwNTYtNDFjZi05ODAxLTVhNGI1ZmFhMGI2Yw.jpg')
            p#nombre
              | Egoitz Barrena
    // *************FIN sobre nosotros********
    section#espacio
    // *************Contacto*****************
    section#contacto.seccionTexto
      div
        #headercontacto.page-header
          h1 Contacto
        form#formContact.form-group
          #ok.alert.alert-success.fade.in(style='display:none')
            strong OK
            |  El correo ha sido enviado
          #noOk.alert.alert-danger.fade.in(style='display:none')
            strong Error
            |  El correo no ha sido enviado
          label(for='correo') Correo electrónico:  
          input#remitente.form-control(type='text', name='remitente')
          label(for='asunto') Asunto: 
          input#asunto.form-control(type='text', name='asunto')
          label(for='mensaje') Mensaje: 
          textarea#mensaje.form-control(name='mensaje', rows='5')
          br
          input#submitContact.btn.btn-primary(type='submit', value='Enviar')
    // *************FIN contacto***************
    section#espacio
    // *************Footer*******************
    #footer
      #leftFooter
        p#copy Copyright © ControlFid
        nav.social-links
          ul.animate
            li
              a.btn.btn-github(href='https://github.com/controlacceso', target='_blank')
                i.fa.fa-github.fa-2x
      #rigthFooter
        ul#menuFooter
          li.tituloFooter Menu
          li
            a(href='#home') Home
          li
            a(href='#queEs') Qué es
          li
            a(href='#comoFunciona') Cómo funciona
          li
            a(href='#demo') Demo
          li
            a(href='#sobreNosotros')
              | Sobre nosotros
              a
          li
            a(href='#contacto') Contacto
    // *************FIN Footer*****************
    // Scripts
    script(type='text/javascript', src='/publicJs/jquery-1.11.3.min.js')
    script(type='text/javascript', src='/publicJs/jquery.validate.min.js')
    script(type='text/javascript', src='/publicJs/bootstrap.min.js')
    script(type='text/javascript', src='/publicJs/jquery.easing.1.3.js')
    script(type='text/javascript', src='/js/webFunctions.js')