@font-face {
    font-family: tituloIndex;
    src: url('../fonts/Sketch_Block.ttf');
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-color: #464646;

}
form{
	width: 50%;
	margin: auto;
	background-color: lightgrey;
	border-radius: 25px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.form-control {
	padding-left: 50px;
    min-width: 0;
    width: 120% !important;
    color:black;
}

h1{
    text-align: center;
    font-family: tituloIndex;
    font-size: 52pt;
    margin-top: 5%;
    color:white;
    word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

label {
    width: 45% !important ;
}

#formUpdate{
    width: 55%;
    margin: auto;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

#selectTipoGrupo {
    width: 290px !important ;
}

#labelTipoGrupo {
    width: 195px !important ;
}

#labelObligatoria {
    width: 198px !important ;
    height: 35px !important ;
}

.radio{
     width: 50px !important ;
}

#labelDiaHorarioGrupo{
width: 192px !important ;
}

#selectDiaHorarioGrupo{
    width: 280px !important ;
}

#labelHoraInicio{
    width: 192px !important ;
}

#labelHoraFinal{
    width: 192px !important ;
}

#hora_inicio{
    width: 280px !important ;
}

#hora_final{
    width: 280px !important ;
}

#labelHorarioGrupoGrupo{
   width: 192px !important ; 
}

#selectHorarioGrupoGrupo{
    width: 280px !important ;
}

#labelHorarioGrupoAsignatura{
   width: 192px !important ; 
}

#selectHorarioGrupoAsignatura{
    width: 280px !important ;
}

#labelHorarioGrupoAula{
   width: 192px !important ; 
}

#selectHorarioGrupoAula{
    width: 280px !important ;
}

#labelDiaHorarioProfesor{
   width: 192px !important ; 
}

#labelHoraInicioHorarioProfesor{
    width: 192px !important ;
}

#labelHoraFinalHorarioProfesor{
    width: 192px !important ;
}

#labelProfesorHorarioProfesor{
   width: 192px !important ; 
}

#selectProfesorHorarioProfesorM{
 width: 280px !important ;  
}

#foto {
    width: 235px !important ;
}

#fotoProfesor{
    width:100px; 
    height:100px;
    margin-left: 250px;
}

#gruposdelAlumno tr{
    width: 100px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#gruposTodos tr{
    width: 100px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#asignaturas tr{
    width: 100px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}