@font-face {
    font-family: tituloIndex;
    src: url('../fonts/Sketch_Block.ttf');
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-color: #464646;

}
form{
	width: 50%;
	margin: auto;
	background-color: lightgrey;
	border-radius: 25px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.form-control {
	padding-left: 50px;
    min-width: 0;
    width: 120% !important;
    color:black;
}

h1{
    text-align: center;
    font-family: tituloIndex;
    font-size: 52pt;
    margin-top: 5%;
    color:white;
    word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

label {
    width: 45% !important ;
}

#formUpdate{
    width: 55%;
    margin: auto;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}

#selectTipoGrupo {
    width: 290px !important ;
}

#labelTipoGrupo {
    width: 195px !important ;
}

#labelObligatoria {
    width: 198px !important ;
    height: 35px !important ;
}

.radio{
     width: 50px !important ;
}