@font-face {
    font-family: tituloIndex;
    src: url('../fonts/Sketch_Block.ttf');
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-color: #464646;

}

h1{
	text-align: center;
	font-family: tituloIndex;
	font-size: 52pt;
	margin-top: 5%;
	color:white;
	word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
form{
	width: 50%;
	margin: auto;
	background-color: lightgrey;
	border-radius: 25px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.form-control {
	padding-left: 50px;
    min-width: 0;
    width: 120% !important;
    color:black;
}

label {
    width: 50% !important ;
}

#labelFoto {
    width: 235px !important ;
}


#labelObligatoria {
    width: 235px !important ;

}

#labelTipo {
    width: 235px !important ;
}

#foto {
    width: 200px !important ;
}

#selectTipo {
    width: 290px !important ;
}

.radio{
	 width: 100px !important ;
}

#selectTipoGrupo {
    width: 290px !important ;
}

#labelTipoGrupo {
    width: 240px !important ;
}

#labelDiaHorarioGrupo{
    width: 240px !important ;
}

#selectDiaHorarioGrupo{
    width: 290px !important ;
}

#labelHoraInicio{
    width: 240px !important ;
}

#labelHoraFinal{
    width: 240px !important ;
}

#hora_inicio{
    width: 290px !important ;
}

#hora_final{
    width: 290px !important ;
}

#labelHorarioGrupoGrupo{
   width: 240px !important ; 
}

#selectHorarioGrupoGrupo{
    width: 290px !important ;
}

#labelHorarioGrupoAsignatura{
   width: 240px !important ; 
}

#selectHorarioGrupoAsignatura{
    width: 290px !important ;
}

#labelHorarioGrupoAula{
   width: 240px !important ; 
}

#selectHorarioGrupoAula{
    width: 290px !important ;
}

#labelHorarioGrupoHorarioProfesor{
   width: 240px !important ; 
}

#selectHorarioGrupoHorarioProfesor{
    width: 290px !important ;
}

#labelProfesorHorarioProfesor{
   width: 240px !important ; 
}

#selectProfesorHorarioProfesor{
 width: 270px !important ;  
}

#labelHoraInicioHorarioProfesor{
    width: 240px !important ;
}

#labelHoraFinalHorarioProfesor{
    width: 240px !important ;
}

#labelDiaHorarioProfesor{
   width: 240px !important ; 
}

#selectDiaHorarioProfesor{
    width: 270px !important ;
}

span{
    position: relative;
    left: 525px;
}
#sp{
    position: relative;
    left: 0px;
}
#mensaje{
    width: 525px ;
    margin-top:20px;
}
#labelradio {
    position: relative;
    left: 250px;
    bottom: 30px;
    padding-left: 5px;
    margin-right: 15px;
    font-size: 15px;
}

#labelradio1 {
    position: relative;
    left: 100px;
    top: 30px;
    padding-left: 5px;
    margin-right: 15px;
    font-size: 15px;
}

#radio{
    position: relative;
    left: 150px;
    bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    width: 10px;
}

#radio11{
    top: 40px !important ;
}
