@font-face {
  font-family: tituloIndex;
  src: url('../fonts/justice.ttf');
}
h1{
  text-align: center;
  font-family: tituloIndex;
  font-size: 52pt;
  margin-top: 5%;
  color:white;
  font-weight: normal;
  word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-color: #464646;

}

@media only screen and (min-width: 319px) and (max-width: 321px) and (orientation:portrait) {

#footer{
  bottom:auto;
}
.navbar{
  margin-top: -50px;
}
html{
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
  background-color: #464646;
}
h1{
  text-align: center;
  color: white !important;
  font-size: 15pt;
  margin-right: 25px;
}
#agregarAsignaturasForm,#agregarGrupoForm,#agregarAulaForm,#agregarHorarioGrupoForm,
#agregarHorarioProfesorForm,#agregarAlumnoForm,#agregarProfesorForm{
  width: 250px !important;
  padding: 10px;
  padding-left: 20px !important; 
  padding-right: 20px !important;
  box-shadow: 5px 5px 15px black;
  margin: auto;
  background-color: lightgrey;
  border-radius: 25px;
  margin-bottom: 25px;
}
#send{
  width: 65px;
  height: 34px;
  margin-right: 5px;
  text-align: left;
}
#sp{
  font-size: 0px;
}
#sp2{
  left: 68px !important;
  font-size: 8px !important;
}
#mensaje,#mensaje2{
  width:178px !important;
  height: 50px !important;
}
#labelDniAlumno,#labelNombreAlumno,#labelCorreoAlumno,#labelFotoAlumno,
#labelClaveAsignatura,#labelNombreAsignatura,#labelTipoAsignatura,#labelPisoAula,
#labelNombreGrupo,#labelNumeroAula,#labelTipoGrupo,#labelDiaHorarioGrupo,
#labelHorarioGrupoGrupo,#labelHorarioGrupoHorarioProfesor,
#labelHorarioGrupoAula,#labelDiaHorarioProfesor,#labelNombreProfesor,#labelCorreoProfesor,
#labelFotoProfesor,#labelDniProfesor{  
  font-size: 10px !important;
  width:100px !important;
  text-align:center;   
}
#dniAlumno,#nombreAlumno,#apellidosAlumno,#correoAlumno,#fotoAlumno,#num_tarjetaAlumno,
#nombreAsignatura,#claveAsignatura,#selectTipoAsignatura,#numeroAula,#pisoAula,
#capacidadAula,#nombreGrupo,#selectTipoGrupo,#selectDiaHorarioGrupo,#hora_finalHorarioGrupo,
#hora_inicioHorarioGrupo,#selectHorarioGrupoGrupo,#selectHorarioGrupoAula,#id_horario_grupo,#selectHorarioGrupoAsignatura,
#selectProfesorHorarioProfesor,#hora_inicioHorarioProfesor,#hora_finalHorarioProfesor,
#selectDiaHorarioProfesor,#dniProfesor,#nombreProfesor,#apellidosProfesor,#correoProfesor,
#passwordProfesor,#num_tarjetaProfesor,#fotoProfesor{
  width: 78px !important;
  float:left;
  text-align:center;
  font-size: 10px !important;  
}
#dniAlumno1,#nombreAlumno1,#apellidosAlumno1,#correoAlumno1,#fotoAlumno1,
#num_tarjetaAlumno1,#nombreAsignatura1,#claveAsignatura1,#selectTipoAsignatura1,
#radioAsignatura11,#pisoAula1,#numeroAula1,#nombreGrupo1,#capacidadAula1,#labelDniProfesor1,
#selectTipoGrupo1,#selectDiaHorarioGrupo1,#hora_inicioHorarioGrupo1,#hora_finalHorarioGrupo1,
#selectHorarioGrupoGrupo1,#selectHorarioGrupoAsignatura1,#selectHorarioGrupoAula1,
#id_horario_grupo1,#selectProfesorHorarioProfesor1,#hora_inicioHorarioProfesor1,
#hora_finalHorarioProfesor1,#selectDiaHorarioProfesor1,#dniProfesor1,#nombreProfesor1,
#apellidosProfesor1,#correoProfesor1,#passwordProfesor1,#fotoProfesor1,#num_tarjetaProfesor1{
  position: absolute;
  left: 195px !important;
  font-size: 15px;
  
}
#labelApellidosAlumno,#labelNum_tarjAlumno,#labelObligatoriaAsignatura,
#labelCapacidadAula,#labelHorarioGrupoAsignatura,#labelApellidosProfesor,
#labelPasswordProfesor,#labelNum_tarjProfesor{
  width:100px !important;
  font-size: 10px !important; 
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;  
}
#labelradio1Asignatura{
  position: absolute;
  left: 52px !important;
  top: 30px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -18px !important;  
}
#radioAsignatura1{
  width:20px !important;
  margin-left: 20px;  
}
#labelradioAsignatura{
  position: absolute;
  left: 75px !important;
  top: 30px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
  margin-top: -18px !important;  
}
#radioAsignatura{
  width:20px !important;
  margin-left: 20px;  
}
#labelHoraInicioHorarioGrupo,#labelHoraFinalHorarioGrupo{
  width: 100px !important;
  font-size: 10px !important; 
  padding-left: 4px !important;
  padding-right: 4px !important;   
}
#horario_grupo{
  margin-left: -1px  !important;   
}
#labelHoraInicioHorarioProfesor,#labelHoraFinalHorarioProfesor{
  width: 100px !important;
  font-size: 10px !important; 
  padding-left: 4px !important;
  padding-right: 4px !important;   
}
#labelProfesorHorarioProfesor{
  width: 100px !important;  
}
/*---------------------------*/
}/*.@media only screen and (min-width: 319px) and (max-width: 321px) and (orientation:portrait)*/

@media only screen and (min-width: 359px) and (max-width: 361px) and (orientation:portrait) {

#footer{
  margin-bottom: 0%;
}
.navbar{
  margin-top:-50px;
}
html{
  height:100%;
}
body {
  height: 100%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
  background-color: #464646;
}
h1{
  text-align:
  color: white !important;
  font-size:25pt;
  margin-right: 
}
#agregarAsignaturasForm,#agregarGrupoForm,#agregarAulaForm,#agregarHorarioGrupoForm,
#agregarHorarioProfesorForm,#agregarAlumnoForm,#agregarProfesorForm{
  width: 270px !important;
  padding: 10px;
  padding-left: 20px !important; 
  padding-right: 20px !important;
  box-shadow: 5px 5px 15px black;
  margin: auto;
  background-color: lightgrey;
  border-radius: 25px;
  margin-bottom: 25px;
}
#send{
  width: 65px;
  height: 34px;
  margin-right: 5px;
  text-align: left; 
}
#sp{
  font-size: 0px;
}
#sp2{
  left: 68px !important;
  font-size: 8px !important; 
}
#mensaje,#mensaje2{
  width:218px !important;
  height: 50px !important;
}
#labelDniAlumno,#labelNombreAlumno,#labelCorreoAlumno,#labelFotoAlumno,
#labelClaveAsignatura,#labelNombreAsignatura,#labelTipoAsignatura,#labelPisoAula,
#labelNombreGrupo,#labelNumeroAula,#labelTipoGrupo,#labelDiaHorarioGrupo,
#labelHorarioGrupoGrupo,#labelHorarioGrupoHorarioProfesor,
#labelHorarioGrupoAula,#labelDiaHorarioProfesor,#labelNombreProfesor,#labelCorreoProfesor,
#labelFotoProfesor,#labelDniProfesor{  
  font-size: 10px !important;
  width:120px !important;
  text-align:center; 
}
#dniAlumno,#nombreAlumno,#apellidosAlumno,#correoAlumno,#fotoAlumno,#num_tarjetaAlumno,
#nombreAsignatura,#claveAsignatura,#selectTipoAsignatura,#numeroAula,#pisoAula,
#capacidadAula,#nombreGrupo,#selectTipoGrupo,#selectDiaHorarioGrupo,#hora_finalHorarioGrupo,
#hora_inicioHorarioGrupo,#selectHorarioGrupoGrupo,#selectHorarioGrupoAula,#id_horario_grupo,#selectHorarioGrupoAsignatura,
#selectProfesorHorarioProfesor,#hora_inicioHorarioProfesor,#hora_finalHorarioProfesor,
#selectDiaHorarioProfesor,#dniProfesor,#nombreProfesor,#apellidosProfesor,#correoProfesor,
#passwordProfesor,#num_tarjetaProfesor,#fotoProfesor{
  width: 98px !important;
  float:left;
  text-align:center;
  font-size: 10px !important; 
}
#dniAlumno1,#nombreAlumno1,#apellidosAlumno1,#correoAlumno1,#fotoAlumno1,
#num_tarjetaAlumno1,#nombreAsignatura1,#claveAsignatura1,#selectTipoAsignatura1,
#radioAsignatura11,#pisoAula1,#numeroAula1,#nombreGrupo1,#capacidadAula1,#labelDniProfesor1,
#selectTipoGrupo1,#selectDiaHorarioGrupo1,#hora_inicioHorarioGrupo1,#hora_finalHorarioGrupo1,
#selectHorarioGrupoGrupo1,#selectHorarioGrupoAsignatura1,#selectHorarioGrupoAula1,
#id_horario_grupo1,#selectProfesorHorarioProfesor1,#hora_inicioHorarioProfesor1,
#hora_finalHorarioProfesor1,#selectDiaHorarioProfesor1,#dniProfesor1,#nombreProfesor1,
#apellidosProfesor1,#correoProfesor1,#passwordProfesor1,#fotoProfesor1,#num_tarjetaProfesor1{
  position: absolute;
  left: 215px !important;
  font-size: 15px; 
  
}
#labelApellidosAlumno,#labelNum_tarjAlumno,#labelObligatoriaAsignatura,
#labelCapacidadAula,#labelHorarioGrupoAsignatura,#labelApellidosProfesor,
#labelPasswordProfesor,#labelNum_tarjProfesor{
  width:120px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelradio1Asignatura{
  position: absolute;
  left: 75px !important;
  top: 15px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px; 
}
#radioAsignatura1{
  width:20px !important;
  margin-left: 20px;
  margin-top: 8px;
}
#labelradioAsignatura{
  position: absolute;
  left: 95px !important;
  top: 15px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#radioAsignatura{
  width:20px !important;
  margin-left: 20px;
  margin-top: 8px;
}
#labelHoraInicioHorarioGrupo,#labelHoraFinalHorarioGrupo{
  width: 120px !important;
  padding-left: 4px !important;
  padding-right: 4px !important; 
}
#horario_grupo{
  margin-left: 
}
#labelHoraInicioHorarioProfesor,#labelHoraFinalHorarioProfesor{
  width: 120px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#labelProfesorHorarioProfesor{
  width: 120px !important; 
}
/*---------------------------*/
}/*.@media only screen and (min-width: 359px) and (max-width: 361px) and (orientation:portrait)*/