

@media only screen and (min-width: 800px) and (max-width: 1278px) {
 
html{
  height: 100%;
}

h1{
  color: white !important;
  font-size: 35pt;
}
span{

}
#formUpdate{

}
#form{

}
#sp{

}
#sp2{

}
.input-group-addon {
   
}
.form-control{

}
#nombrebusqueda{
  width:215px !important;
}
#mensaje,#mensaje2{

}
.busquedaH3{
  font-size: 15px !important;
}
/*-------------------------Modificar Asignatura-----------------------------------------------*/
#labelObligatoria{
  width:245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelradio1{
  position: absolute;
  left: 220px !important;
  top: 15px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
}
#labelradio{
  position: absolute;
  left: 300px !important;
  top: 15px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#radio1,#radio{
  width:20px !important;
  margin-left: 40px;
  top: -12px !important;
}
#labelIdAsignatura{
  width:245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*--- Modificar Aula -------------------------------------------------------------------------*/
.busquedaAulas{
  font-size: 15px !important;
}
#labelCapacidad{
  width:245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*--- Modificar Horario Grupo-----------------------------------------------------------------*/
#labelHorarioGrupoAsignatura{
  width:245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelHoraInicio{
  width: 245px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#hora_inicio{
  width: 225px !important;
  float:left;
  text-align:center;
}
#labelHoraFinal{
  width: 245px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#hora_final{
  width: 225px !important;
  float:left;
  text-align:center;
}
#id_horario_grupo{
  width: 225px !important;
}
#labelId_horario_grupo{
  width: 245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------Modificar Grupo----------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*-------------------------Modificar Horario Profesor-----------------------------------------*/
#labelId_horario_profesor{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelId_horario_grupo{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelHoraInicioHorarioProfesor{
  width: 245px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#labelHoraFinalHorarioProfesor{
  width: 245px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#labelProfesorHorarioProfesor{
  width: 245px !important;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------Modificar Alumno/Profesor------------------------------------------*/

.busquedaFoto{
  width: 70px !important;
}
#fotoAlumno{
  width: 70px !important;
  height: 70px !important; 
  margin-left: 290px !important;
}
#fotoProfesor{
  width: 70px !important;
  height: 70px !important; 
  margin-left: 300px !important;
  margin-bottom: 20px !important;
}
#labelTarjeta_activada,#labelAdmin{
  width:245px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labeltarjeta1Profesor{
  position: absolute;
  left: 225px !important;
  top: 17px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
}
#labeltarjetaProfesor{
  position: absolute;
  left: 280px !important;
  top: 17px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#labeltarjetaAlumno{
  position: absolute;
  left: 360px !important;
  top: 25px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px !important;
}
#labeltarjeta1Alumno{
  position: absolute;
  left: 265px !important;
  top: 25px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
  font-size: 14px !important;
}
#tarjeta1,#tarjeta{
  width:20px !important;
  margin-left: 60px;
  margin-top: -10px !important;
}
#tarjeta1Alumno,#tarjetaAlumno{
  width:22px !important;
  margin-left: 60px !important; 
}
#admin1,#admin{
  width:20px !important;
  margin-left: 40px;
}
#labeladmin1{
  position: absolute;
  left: 260px !important;
  top: 28px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
}
#labeladmin{
  position: absolute;
  left: 245px !important;
  top: 63px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#btnMostrarGrupos{
  width:180px !important;
  font-size: 13px !important;
  padding-left: 2px !important;
  margin-left: 270px !important;
  margin-bottom: 10px !important;
}
#labelApellidos{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelNum_tarj{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelPasswordViejo,#labelPassword,#labelPasswordR{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*---------------------------------------------------------------------------------------------*/
}/*.@media only screen and (min-width: 800px) and (max-width: 1278px)*/

@media only screen and (min-width: 1279px){
 
html{
  height: 100%;
}
body {
  height: 100%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
  background-color: #464646;
}
h1{
  color: white !important;
  font-size: 35pt;
}
span{
  position: absolute;
  left: 520px !important;
  font-size: 15px;
}
#formUpdate{
  width: 600px !important;
  padding: 10px;
  padding-left: 20px !important; 
  padding-right: 20px !important;
  box-shadow: 5px 5px 15px black;
}
#form{
  width: 600px !important;
  padding-left: 30px !important; 
  padding-right: 30px !important;
}
#sp{
  font-size: 13px;
  left: 43% !important;
  padding-top:  5px !important;
}
#sp2{
  font-size: 15px !important;
}
.input-group-addon {
  font-size: 15px !important;
  width:270px !important;
  text-align:center;    
}
.form-control{
  width: 250px !important;
  float:left;
  text-align:center;
  font-size: 15px !important;
}
#nombrebusqueda{
  width:250px !important;
}
#mensaje,#mensaje2{
  width:515px !important;
  height: 50px !important;
}
.busquedaH3{
  font-size: 17px !important;
}
/*-------------------------Modificar Asignatura-----------------------------------------------*/
#labelObligatoria{
  width:270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelradio1{
  position: absolute;
  left: 240px !important;
  top: 15px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 15px !important;
}
#labelradio{
  position: absolute;
  left: 330px !important;
  top: 15px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
  font-size: 15px !important;
}
#radio1,#radio{
  width:20px !important;
  margin-left: 40px;
  top: -12px !important;
}
#labelIdAsignatura{
  width:270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*--- Modificar Aula -------------------------------------------------------------------------*/
.busquedaAulas{
  font-size: 17px !important;
}
#labelCapacidad{
  width:270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*--- Modificar Horario Grupo-----------------------------------------------------------------*/
#labelHorarioGrupoAsignatura{
  width:270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelHoraInicio{
  width: 270px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#hora_inicio{
  width: 250px !important;
  float:left;
  text-align:center;
}
#labelHoraFinal{
  width: 270px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#hora_final{
  width: 250px !important;
  float:left;
  text-align:center;
}
#id_horario_grupo{
  width: 250px !important;
}
#labelId_horario_grupo{
  width: 270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------Modificar Grupo----------------------------------------------------*/

/*------------------------------------------------------------------------------------------*/

/*-------------------------Modificar Horario Profesor-----------------------------------------*/
#labelId_horario_profesor{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelId_horario_grupo{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelHoraInicioHorarioProfesor{
  width: 270px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#labelHoraFinalHorarioProfesor{
  width: 270px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#labelProfesorHorarioProfesor{
  width: 270px !important;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------Modificar Alumno/Profesor------------------------------------------*/

.busquedaFoto{
  width: 80px !important;
}
#fotoAlumno{
  width: 80px !important;
  height: 80px !important; 
  margin-left: 320px !important;
}
#fotoProfesor{
  width: 70px !important;
  height: 70px !important; 
  margin-left: 320px !important;
  margin-bottom: 20px !important;
}
#labelTarjeta_activada,#labelAdmin{
  width:270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labeltarjeta1Profesor{
  position: absolute;
  left: 255px !important;
  top: 17px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
}
#labeltarjetaProfesor{
  position: absolute;
  left: 310px !important;
  top: 17px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#labeltarjetaAlumno{
  position: absolute;
  left: 390px !important;
  top: 22px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 14px !important;
}
#labeltarjeta1Alumno{
  position: absolute;
  left: 295px !important;
  top: 25px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
  font-size: 14px !important;
}
#tarjeta1,#tarjeta{
  width:20px !important;
  margin-left: 60px;
  margin-top: -10px !important;
}
#tarjeta1Alumno,#tarjetaAlumno{
  width:22px !important;
  margin-left: 60px !important; 
}
#admin1,#admin{
  width:20px !important;
  margin-left: 40px;
}
#labeladmin1{
  position: absolute;
  left: 290px !important;
  top: 28px !important;
  width:20px !important;
  padding-left: -10px !important;
  margin-left: 50px;
  margin-right: 50px;
}
#labeladmin{
  position: absolute;
  left: 275px !important;
  top: 63px !important;
  width:20px !important;
  margin-left: 65px;
  margin-right: 50px;
}
#btnMostrarGrupos{
  width:180px !important;
  font-size: 13px !important;
  padding-left: 2px !important;
  margin-left: 320px !important;
  margin-bottom: 10px !important;
}
#labelApellidos{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelNum_tarj{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#labelPasswordViejo,#labelPassword,#labelPasswordR{
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*---------------------------------------------------------------------------------------------*/
}/*.@media only screen and (min-width: 1279px)*/



