@font-face {
    font-family: tituloIndex;
    src: url('../fonts/Sketch_Block.ttf');
}
body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url('../images/gradient4.jpg');
	background-position: center center;
	background-color: #464646;

}
#titulo{
	text-align: center;
	font-family: tituloIndex;
	font-size: 52pt;
	margin-top: 5%;
	color:white;
  font-weight: normal;
	word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}
#loginFormContainer{
	width: 60%;
	margin: auto;
	background-color: lightgrey;
	border-radius: 25px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 800px) and (orientation:portrait) {
  body {
    height: 100%;
    padding-top: 50px;
    background-image: url('../images/gradient9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-position: center center;
    background-color: #464646;
  }
  #titulo{
  	color:black;
  	font-size: 25pt;
  }
  #loginFormContainer{
  	width: 80%;
  	padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 15px black;
  }
  html{
    height: 100%;
  }

}

@media only screen and (max-width: 800px) and (orientation:landscape){
  html{
    height: 100%;
  }
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-color: #464646;
  }
  #titulo{
    color:white;
    font-size: 35pt;
    margin-top:5%;
  }
  #loginFormContainer{
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer{
    bottom: 0px;
  }

}

@media only screen and (max-height: 450px){
  #footer{
    bottom: auto;
  }
}


