h1{
	float:left;
	height: 100%;
}
body{
	padding-top: 0px;
	height: 100%;
}
.filaAlumnos{
	float:left;
	margin:20px;
}
td{
	
}
#fotoProfesor{
	margin-bottom: 10px;
	margin-left: 50px;
	margin-top: 20px;
	box-shadow: 5px 5px 10px black;
}
#nombreProfesor{
	margin-left: 20px;
	margin-top: 30px;
}
.page-header{
	background-color: lightgrey;
	box-shadow: 5px 5px 10px black;
}
.celdaAlumno{
	width: 250px;
	height: 220px;
}
#botonHorarioProfesor{
	margin-right: 20px;
	background-color: lightgrey;
	color:black;
	width: 100px;
	height: 35px;
}
#botonHorarioProfesor:hover{
	background-color: grey;
	font-weight: bold;
}
#tablaHorario td, #tablaHorario th{
	width: 20%;
	text-align: center;
}
#tablaHorario th{
	background-color: #565665;
	color:white;
	text-align: center;
}
#tablaHorario td{
	padding: 5px;
}
#tablaHorario tr{
	margin: 0px;
}

.presencia1, .presencia0{
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 5px 5px 10px black;
}
td img{
	margin-bottom: 10px;
	box-shadow: 5px 5px 10px black;
}
td:hover{
	cursor:pointer;
}
#exit{
	background-color: lightgrey;
	float:right;
	color:black;
	width: 100px;
	height: 35px;
}
#exit:hover{
	text-decoration: none;
	background-color: grey;
	font-weight: bold;
}
#botonHorarioProfesor, #exit{
	margin-bottom: 20px;
}
#footer{
	bottom: auto;
}


@media only screen and (max-width: 450px) and (orientation:portrait){
  .presencia1, .presencia0{
      width: 300px;
  }
}
.ui-dialog {
  position:fixed;
  left: auto;
}