h1{
	float:left;
}
body{
	padding-top: 0px;
}
tr{
	float:left;
	margin:20px;
}
#fotoProfesor{
	margin-bottom: 10px;
	margin-left: 50px;
	margin-top: 20px;
	box-shadow: 5px 5px 10px black;
}
#nombreProfesor{
	margin-left: 20px;
	margin-top: 30px;
}
.page-header{
	background-color: lightgrey;
	box-shadow: 5px 5px 10px black;
}
#botonHorarioProfesor{
	margin-right: 20px;
	background-color: lightgrey;
	color:black;
	width: 100px;
	height: 35px;
}
#botonHorarioProfesor:hover{
	background-color: grey;
	font-weight: bold;
}
#tablaHorario td,th{
	width: 20%;
	text-align: center;
}
#tablaHorario th{
	background-color: black;
	color:white;
	text-align: center;
}
#tablaHorario td{
	padding: 5px;
}
#tablaHorario tr{
	margin: 0px;
}
.ui-dialog .ui-dialog-titlebar {
      background:red;
}
.presencia0{
	background-color: rgba(255, 0, 0, 0.6);
}
.presencia1{
	background-color: rgba(0, 255, 100, 0.6);
}
.presencia1, .presencia0{
	padding: 10px;
	width: 150px;
	text-align: center;
	box-shadow: 5px 5px 10px black;
}
td img{
	margin-bottom: 10px;
	box-shadow: 5px 5px 10px black;
}
td:hover{
	cursor:pointer;
}
#exit{
	background-color: lightgrey;
	float:right;
	color:black;
	width: 100px;
	height: 35px;
}
#exit:hover{
	text-decoration: none;
	background-color: grey;
	font-weight: bold;
}

