/*****General***/
#espacio{
	height: 100px;
}
section{
	height: 500px;
}
.seccionTexto{
  padding: 30px;
  padding-top: 2px;
  text-align: center;
}
.seccionMenu{
  height: 80px;
}
ul{
  list-style-type: none;
}
.page-header{
  margin-top: 10px;
}

p{
  font-size: 30px;
  text-align: left;
}

#fotoSeccion{
  width: 70%;
  height: 60%;
}
/*****FIN General*****/

/*****Menu*****/
@font-face {
    font-family: titulo;
    src: url('../fonts/Sketch_Block.ttf');
}
.navbar .brand {
max-height: 50px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {
	padding: 0px 15px 0px;
}
.navbar{
	height: 80px;
	width: 100%;
	border-radius: 0px;
	z-index: 1;
}
.container{
  margin-top: 15px;
}
#linkHome{
  font-size: 34pt;
  font-family: titulo;
  color:white;
}
#bs-example-navbar-collapse-1{
  background-color: #333;
  border-radius: 10px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/*****FIN Menu*****/

/*****Background*****/
body{
	/*padding: 20px;*/
  padding-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url('../images/gradient9.jpg');
	background-position: center center;
	background-color: #464646;
}
/*****FIN Background*****/

/*****Footer******/
#enviarCorreo{
  font-weight: bold;
}
#enviarCorreo:hover{
  cursor: pointer;
}
#linkEnviarCorreo{
  text-decoration: none;
  color:white;
}
#footer{
  width: 100%;
  height: auto;
  bottom: auto;
  left: 0px;
  background-color: #2E2E2E;
  color:white;
  position: absolute;
  display: block;
  border-radius: 0px;
}
#menuFooter a{
  text-decoration: none;
  color:#9d9d9d;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
#menuFooter a:hover{
  color:white;
}
#menuFooter{
  text-align: center;
  list-style-type: none;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li{
  margin-bottom: 10px;
}
ul{
  padding: 0px;
}
.tituloFooter{
  font-weight: bold;
  text-decoration: underline;
}
#footer div{
  float: left;
  width: 50%;
  text-align: center;
}
#leftFooter{
  padding: 50px;
}
#copy{
  margin-bottom: 10%;
}
/*****FIN Footer*****/
/*****Carousel*******/
.imagenSlider{
	width: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height: 500px;
}
.carousel{
	margin-top: -20px;
	z-index: 0;
}
.btn-primary{
  background: black;
}
/*****FIN Carousel****/
/******Que es******/
#queEs{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,2b2b2b+53,212121+60,2b2b2b+76,1c1c1c+91,131313+100 */
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #2b2b2b 53%, #212121 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#2b2b2b 53%,#212121 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#2b2b2b 53%,#212121 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  color:white;
}
#headerQueEs{

}
/******FIN Que es*****/
/******Como funciona******/
#comoFunciona{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+19,ff8411+31,ff8419+31,ff8d0c+42,ff8d0c+42,ff9a3d+57,ffa24c+72,ff8d0c+79,ff7f04+100 */
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 19%, #ff8411 31%, #ff8419 31%, #ff8d0c 42%, #ff8d0c 42%, #ff9a3d 57%, #ffa24c 72%, #ff8d0c 79%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 19%,#ff8411 31%,#ff8419 31%,#ff8d0c 42%,#ff8d0c 42%,#ff9a3d 57%,#ffa24c 72%,#ff8d0c 79%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 19%,#ff8411 31%,#ff8419 31%,#ff8d0c 42%,#ff8d0c 42%,#ff9a3d 57%,#ffa24c 72%,#ff8d0c 79%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
  color:black;
}
/******FIN como funciona******/
/******Demo*******/
#demo{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,f97575+21,fc5353+45,f98181+72,ff7a7a+100 */
  background: #febbbb; /* Old browsers */
  background: -moz-linear-gradient(top,  #febbbb 0%, #f97575 21%, #fc5353 45%, #f98181 72%, #ff7a7a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #febbbb 0%,#f97575 21%,#fc5353 45%,#f98181 72%,#ff7a7a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #febbbb 0%,#f97575 21%,#fc5353 45%,#f98181 72%,#ff7a7a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff7a7a',GradientType=0 ); /* IE6-9 */
  color:black;
}
#demo .error{
  color:white;
  font-weight: bold;
  margin-left: 5px;
}
/******FIN demo****/
/******Sobre nosotros****/
#sobreNosotros{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+13,c146a1+32,a80077+59,c146a1+84,db36a4+100 */
  background: #cb60b3; /* Old browsers */
  background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 13%, #c146a1 32%, #a80077 59%, #c146a1 84%, #db36a4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 13%,#c146a1 32%,#a80077 59%,#c146a1 84%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 13%,#c146a1 32%,#a80077 59%,#c146a1 84%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
  color:white;
}
/******FIN sobre nosotros****/
/******Contacto*******/
#contacto{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,4b9935+16,6b995e+41,619952+68,419929+85,2d990f+100 */
  background: #299a0b; /* Old browsers */
  background: -moz-linear-gradient(top,  #299a0b 0%, #4b9935 16%, #6b995e 41%, #619952 68%, #419929 85%, #2d990f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #299a0b 0%,#4b9935 16%,#6b995e 41%,#619952 68%,#419929 85%,#2d990f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #299a0b 0%,#4b9935 16%,#6b995e 41%,#619952 68%,#419929 85%,#2d990f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#2d990f',GradientType=0 ); /* IE6-9 */
  color:white;
}
#formContact,#formContactDemo{
  width: 70%;
  margin: auto;
  text-align: left;
}
#irADemo{
  width: 70%;
  margin-top: 20px;
}
#submitContact,#submitContactDemo{
  width: 100%;
 /* background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%); */
}
#contacto .error{
  color:black;
  font-weight: bold;
  margin-left: 5px;
}

#fotoInfo{
  width: 40%;
  height: 50%;
  margin: auto;
}
/******FIN contacto******/
